
<div class="carusel_component">
  <ngb-carousel *ngIf="images" class="d-inline-flex p-1" cycle="true">
    <ng-template ngbSlide>
      <img src="../../../assets/images/seleccionadas/alimentos-saludables.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/seleccionadas/ideas-de-postres-saludables.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/seleccionadas/brownie.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
