
.login_content {  
    margin: 50px auto;
    display: block;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 25px 20px 40px;
    border-radius: 5px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.login_content h2 {
    text-transform: uppercase;
}

.login_content h5 {
    color:#a7b1b1;
    margin-bottom: 25px;
    font-size: 18px;
}

.login_content .btn {
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    border: none;
}
.login_content hr {
    margin: 30px 0;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
  }